
.DS_Store

LANWakeUp.xcodeproj/project.xcworkspace/xcuserdata/svarich.xcuserdatad/UserInterfaceState.xcuserstate

app/Anywakey_MacOS.xcodeproj/project.xcworkspace/xcuserdata/dan.xcuserdatad/UserInterfaceState.xcuserstate
